*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(167, 142, 236);
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-transform: capitalize;
}

.todo-btn{
    height: 40px;
    width: 60px;
}

.addition-icon{
    height: 36px;
}
